* {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0px;
}

.quote-attribution {
    color: #1f2937;
    font-weight: 700;
    font-size: 20px;
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    border-radius: 8px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 650px;
    padding: 16px 50px;
}

.cta-text > h2 {
    color: #f9faf8;
    font-size: 24px;
    margin-bottom: 6px;
}

.cta-text > p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0px;
}

.call-to-action > button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px, solid, #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}