* {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
}

/* || Colors */
.dark-blu-bg {
    background-color: #1f2937;
}

.bright-white {
    color:#f9faf8;
}

.secondary-white {
    color:#e5e7eb;
}

.dark-blu-txt {
    color: #1f2937;
}


/* || Fonts */
.smallest {
    font-size: 18px;
}

.midsized {
    font-size: 24px;
}

.largeish {
    font-size: 36px;
}

/* || Other */
button {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.header-bar {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.header-bar > span {
    font-weight: 800;
    margin-right: auto;
}

.hero-section {
    display: flex;
}

.hero-text > h2 {
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    background-color: #6d747d;
    height: 160px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-info-section > h2{
    font-weight: 900;
}

.image-holder {
    display: flex;
    gap: 30px;
}

.image-info-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
}

.info-image {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.image-info-pair > p {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0px;
}

.quote-attribution {
    font-weight: 700;
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    border-radius: 8px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 650px;
    padding: 16px 50px;
}

.cta-text > h2 {
    margin-bottom: 6px;
}

.cta-text > p {
    margin-top: 0px;
}

.call-to-action > button {
    border: 2px, solid, #f9faf8;
    padding: 5px 20px;
}

.footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}